body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: PathwayGothicOne, sans-serif;
    font-size: 14px;
    min-height: 100vh;
}

  nav {
    position: relative;
    width: 1024px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
  }

  .menu {
    display: flex;
  }

  .menu-item {
    position: relative;
    flex: 0 0 12%;
    padding-bottom: 10px;
  }
  
  .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    color: #ffffff;
    font-size: 24px;
  }

  .menu-item-space {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    color: #ffffff;
    font-size: 24px;
    margin-right: 250px;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  
  .submenu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    color: #6b7488;
    font-size: 19px;
  }
  
  .menu-item:hover > .submenu {
    display: block;
  }
  
  .menu-link:hover {
    color: #263555;
  } 
  .menu-link-space:hover {
    color: #263555;
  } 
  .menu li:last-child {
      margin-right: 0;
  }
  .submenu:before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    position: absolute;
    top: -5px;
    left: 40%;
  } 
  .wrapper {
    width: 1024px;
    margin: auto;
    
}  

.logo {
    position: absolute;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    font-family: 'Dorsa';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 60px;
    color: #263555;
    border-radius: 50%;
    text-align: center;
    line-height: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .logo:hover {
    background-color: #193149;
    color: #ffffff;
  }

  main {
    background-color: #ffffff;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 86px;
    padding-top: 90px;
    position: relative;
  }

  h1 {
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #263555;
    margin-bottom: 46px;
    font-size: 31px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery-item {
    flex: 0 0 32%;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;  
  }
  
  .gallery-item:hover:before {
    display: block;
  }
  
  .gallery-item:hover {
    filter: brightness(40%);
  }
  
  .gallery-item:before {
    content: url(../img/zoom.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }

  button {
    border: none;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: #38afe5;
    position: fixed;
    bottom: 26%;
    left: 75%;
  }
  
  button:before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  button:hover {
    background-color: #193149;
    color: #ffffff;
  }
  .bottom-menu {
    display: flex;
    justify-content: center;
    background-color: #30455b;
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .bottom-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .bottom-menu li {
    flex: 0 0 25%;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
  }

  li a {
    color: #ffffff;
    text-transform: none;
  }

.icons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
 }

.icon {
    background-color: #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background-image: url('https://image.flaticon.com/icons/svg/54/54127.svg') 
}

.facebook {
    background-image: url('https://image.flaticon.com/icons/svg/54/54065.svg') 
}
.google {
    background-image: url('https://image.flaticon.com/icons/svg/54/54153.svg') 
}

.linkedin {
    background-image: url('https://image.flaticon.com/icons/svg/53/53907.svg') 
}

.icon:hover {
    filter: brightness(40%);
  }

.copyright {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;  
}

p {
    padding-left: 5px; 
    padding-right: 5px; 
}
.borders {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding-left: 5px; 
    
}

footer {
    padding-bottom: 20px;
}